@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}
span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-weight: 600 !important;
  font-size: 20px !important;
}
abbr:where([title]) {
  text-decoration: none !important;
}
.react-calendar__tile--active {
  background: #c3ebfa !important;
  color: black !important;
}
