@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}
span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-weight: 600 !important;
  font-size: 20px !important;
}
abbr:where([title]) {
  text-decoration: none !important;
}
.react-calendar__tile--active {
  background: #c3ebfa !important;
  color: black !important;
}

/* big calender */

.rbc-timeslot-group {
  min-height: 80px !important;
}
.rbc-time-view {
  background: #edf9fd !important;
  border: 1px solid #eee !important;
}
.rbc-today {
  background-color: transparent !important;
}
.rbc-time-header {
  display: none !important;
}
.rbc-time-slot {
  font-size: 14px;
  padding: 10px;
}
span.rbc-btn-group:first-child {
  display: none !important;
}
.rbc-toolbar button {
  background-color: #f1f0ff !important;
  border-color: #fff !important;
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: #cfceff !important;
  border-color: #fff !important;
}
.rbc-toolbar button:hover {
  background-color: #cfceff !important;
  border-color: #fff !important;
}
.rbc-time-slot {
  font-size: 14px !important;
}
.rbc-event {
  background: #f1f0ff !important;
  border: none !important;
  color: #000 !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  font-family: "Inter", sans-serif !important;
  border-radius: 0 !important;
}
.rbc-event:nth-child(1) {
  background: #c3ebfa !important;
}
.rbc-event:nth-child(2) {
  background: #f8f2fb !important;
}
.rbc-event:nth-child(3) {
  background: #cfceff !important;
}
.rbc-event:nth-child(4) {
  background: #fefce8 !important;
}
.rbc-event:nth-child(5) {
  background: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background: #f8f2fb !important;
}
.rbc-event:nth-child(7) {
  background: #fefce8 !important;
}
.rbc-event:nth-child(8) {
  background: #e2f8ff !important;
}
.rbc-event-label {
  color: gray !important;
  font-size: 12px !important;
}
